body{
    background-color: #313131;
    color: white;
    margin:0;
    font-family: "roboto", sans-serif;
}

.seperator{
    height:8px;
    width: 80vw;
    max-width: 1280px;
    background-color: #414141;
    border-radius: 10px;
    margin: 25px 0px;
    align-self: center;
}

html {
  scroll-behavior:smooth;
}


a{
    text-decoration: none;
    color: white;
    transition: color 150ms ease-out;
}

.specs a{
    text-decoration: underline;
}

a:hover{
    color: rgb(150, 150, 150);
}


.header{
    background-color: #113D4D;
    display: flex;
    justify-content: center;
    position:fixed;
    width: 100%;
}

.header .spacer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 90vw;
    max-width: 1344px;
    margin: 40px 24px 24px;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 173px;
}

#works, #about{
    scroll-margin-top: 183px;
}

@media screen and (max-width: 875px) {
    .body{
        padding-top: 221px;
    }
    #works, #about{
    scroll-margin-top: 251px;
    }   
}


.spacer h1{
    margin:0;
    font-size: 60px;
    text-wrap-mode: nowrap;
}

.spacer p{
    margin:0;
    font-size: 32px;
    font-weight: 200; /*light*/
}

.tabs{
    display: flex;
    justify-content: space-between;
    gap: 10px 48px;
    text-wrap-mode: nowrap;
    flex-wrap: wrap;
}

@media screen and (max-width:600px){
    .spacer p{
        font-size:20px;
    }
    .tabs{
        gap: 10px 24px;
    }
    .spacer h1{
    margin:0;
    font-size: 45px;
    text-wrap-mode: nowrap;
    }
    .body{
        padding-top: 175px;
    }
    #works{
    scroll-margin-top: 213px;
    } 
}

/* @media screen and (max-width: 373px) {
    .body{
        padding-top: 241px;
    }   
    #works{
    scroll-margin-top: 261px;
    }
} */

.about{
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1344px;
    margin: 20px 24px 0px;
}

@media screen and (max-width: 785px) {
    .about, .works{
        align-items: center;
    }
    
}

.title h2{
    font-size: 48px;
    margin:0;
    text-align: center;
    margin-bottom: 20px;
}



.about .content{
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

@media screen and (max-width: 785px) {
    .about .content{
        justify-content: center;
    }
}


.about .content img{
    width: 400px;
    max-width: 90vw;
}

@media screen and (min-width: 786px) /*PCs*/{   
    .about .content .text{
        margin:0;
        font-size: 20px;
        max-width: 914px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 277px;
    }
}

@media screen and (max-width: 785px) /*tablets*/{   
    .about .content .text{
        margin:0;
        font-size: 20px;
    }
    .about .content img{
    max-width: 50vw;
}
}
@media screen and (max-width: 600px) /*mobile*/{   
    .about .content .text{
        font-size: 16px;
    }
    .title h2{
    font-size: 38px;
    margin:0;
    margin-bottom: 20px;  
    }
    
}

.about .content .text p{
    margin-top :0;
    font-weight: 300; /*slightly light*/
}



.works{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 90vw;
    max-width: 1344px;
    margin: 20px 24px 0px;
}

.works .content{
    display: flex;
    flex-direction: column;
}


.claw-star .top,
.crab-war .top,
.light-a-way .top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px 20px;
    flex: 1 1 auto;
}

@media screen and (min-width: 786px){
    .claw-star .top .media,
    .crab-war .top .media,
    .light-a-way .top .media{
        display: flex;
        flex-direction: row;
        gap:10px;
        max-width: calc(inherit/2);
    }

    .claw-star .top .media iframe,
    .crab-war .top .media iframe,
    .light-a-way .top .media iframe{
        width: 44vw;
        max-width: 667px;
        aspect-ratio: 16/9;
    }
}

@media screen and (max-width: 785px){
    .claw-star .top .media,
    .crab-war .top .media,
    .light-a-way .top .media{
        display: flex;
        flex-direction: column;
        gap:10px;
        max-width: 90vw;
        flex: 1 1 auto;
    }

    .claw-star .top .media iframe,
    .crab-war .top .media iframe,
    .light-a-way .top .media iframe{
        max-width: inherit;
        aspect-ratio: 16/9;
    }
    .claw-star .top,
    .crab-war .top,
    .light-a-way .top{
        flex-wrap: wrap;
    }
}

.claw-star .text,
.crab-war .text,
.light-a-way .text{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 277px;
    margin-top: 20px;
}



.claw-star .top .summary .description,
.crab-war .top .summary .description,
.light-a-way .top .summary .description{
    margin-bottom: 20px;
    font-weight: 300;
}

.claw-star .top .summary p,
.crab-war .top .summary p,
.light-a-way .top .summary p{
    margin:0;
    font-size: 20px;
    font-weight: 300;
}

.claw-star .top .summary .title h3,
.crab-war .top .summary .title h3,
.light-a-way .top .summary .title h3{
    font-size: 36px;
    font-weight: 800;
    margin:0;
    margin-bottom: 5px;
}

@media screen and (max-width:600px){
        .claw-star .top .summary .title h3,
        .crab-war .top .summary .title h3,
        .light-a-way .top .summary .title h3{
        font-size: 28px;
    }
}

@media screen and (max-width: 600px) /*mobile*/{
    .claw-star .text,
    .crab-war .text,
    .light-a-way .text{
        font-size: 16px;
    }
    .claw-star .top .summary p,
    .crab-war .top .summary p,
    .light-a-way .top .summary p{
        font-size: 16px;
        font-weight: 300;
    }
}
.claw-star .text p, .claw-star .text ul,
.crab-war .text p, .crab-war .text ul,
.light-a-way .text p, .light-a-way .text ul{
    margin:0;
    font-weight: 300; /*slightly light*/
    list-style: disc;
}

footer{
    padding:24px 40px;
    margin-top:20px;
    display: flex;
    background-color: #113D4D;
    justify-content: center;
}

footer div{
        width: 1334px;
        max-width: 90vw;
}

.empty-space{
    height: 100px;
    background-color: transparent;
}