body{
    background-color: #313131;
    color: white;
    margin:0;
    font-family: "roboto", sans-serif;
}

html {
  scroll-behavior:smooth;
}


a{
    text-decoration: none;
    color: white;
    transition: color 150ms ease-in;
}

a:hover{
    color: rgb(200, 200, 200);
    transition: color 150ms ease-in;
}


.header{
    background-color: #113D4D;
    display: flex;
    justify-content: center;
}

.header .spacer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 90vw;
    max-width: 1344px;
    margin: 50px 24px 34px;
    gap: 30px;
    flex-wrap: wrap;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer h1{
    margin:0;
    font-size: 60px;
    text-wrap-mode: nowrap;
}

.spacer p{
    margin:0;
    font-size: 32px;
    font-weight: 200; /*light*/
}

.tabs{
    display: flex;
    justify-content: space-between;
    gap: 10px 56px;
    text-wrap-mode: nowrap;
    flex-wrap: wrap;
}

@media screen and (max-width:600px){
    .spacer p{
        font-size:24px;
    }
    .tabs{
        gap: 10px 24px;
    }
    .spacer h1{
    margin:0;
    font-size: 45px;
    text-wrap-mode: nowrap;
    }
}

.about{
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1344px;
    margin: 0px 24px;
    margin-top: 40px;
}

@media screen and (max-width: 785px) {
    .about{
        align-items: center;
    }
    
}

.title h2{
    font-size: 48px;
    margin:0;
}



.about .content{
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

@media screen and (max-width: 785px) {
    .about .content{
        justify-content: center;
    }
}


.about .content img{
    width: 400px;
    max-width: 90vw;
}

@media screen and (min-width: 786px) /*PCs*/{   
    .about .content .text{
        margin:0;
        font-size: 20px;
        max-width: 914px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 277px;
    }
}

@media screen and (max-width: 785px) /*tablets*/{   
    .about .content .text{
        margin:0;
        font-size: 20px;
    }
}
@media screen and (max-width: 600px) /*mobile*/{   
    .about .content .text{
        font-size: 16px;
    }
    .title h2{
    font-size: 38px;
    margin:0;  
    }
}

.about .content .text p{
    margin-top :0;
    font-weight: 300; /*slightly light*/
}



.works{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 90vw;
    max-width: 1344px;
    margin: 0px 48px;
    margin-top: 40px;
}

.works .content{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.claw-star{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 20px;
}

@media screen and (min-width: 786px){
    .claw-star .media{
        display: flex;
        flex-direction: row;
        gap:10px;
        max-width: calc(inherit/2);
    }

    .claw-star .media img, .claw-star .media iframe{
        width: 44vw;
        max-width: 667px;
    }
}

@media screen and (max-width: 785px){
    .claw-star .media{
        display: flex;
        flex-direction: column;
        gap:10px;
        max-width: 90vw;
        flex: 1 1 auto;
    }

    .claw-star .media img, .claw-star .media iframe{
        max-width: inherit;
        aspect-ratio: 16/9;
    }
}

.claw-star .text{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 277px;
}

@media screen and (max-width: 600px) /*mobile*/{
    .claw-star .text{
        font-size: 16px;
    }
}

.claw-star .text .summary,
.claw-star .text .specs,
.claw-star .text .content{
    margin-bottom: 25px;
}

.claw-star .text .title h3{
    font-size: 36px;
    font-weight: 800;
    margin:0;
}

@media screen and (max-width:600px){
    .claw-star .text .title h3{
    font-size: 28px;
}
}

.claw-star .text p, .claw-star .text ul{
    margin:0;
    font-weight: 300; /*slightly light*/
}
